server:
  port: 8088
  tomcat:
    threads:
      max: 300
#
####################################################################################################
############################################# ChrylConfigProperty 相关变量配置 ######################
####################################################################################################
chryl:
######################################################################## XCC
#  xswitch config
  nats-url: nats://hy:h8klu6bRwW@nats.xswitch.cn:4222
  xctrl-subject: cn.xswitch.ctrl
  xnode-subject-prefix: cn.xswitch.node
# no break 是否打断放音, true 不可打断
  no-break: false
# XML数据需要自己处理, JSON数据XSwitch已深度解析, true开启自助解析
  handle-engine-data: true
# DTMF 输入超时
  dtmf-no-input-timeout: 10
# DTMF 位间超时
  digit-timeout: 5
# speech 未检测到语音超时
  speech-no-input-timeout: 8
# speech 语音超时，即如果对方讲话一直不停超时
  max-speech-timeout: 12
#
# 若有多台XSwitch,再开启,true开启
  cluster: true
  #配置多节点
  nats-list:
  - node: 10.194.31.201
    nats: nats://10.194.31.200:4222
  - node: 10.194.31.203
    nats: nats://10.194.31.202:4222
######################################################################## XCC
######################################################################## NGD
#  ngd  query url
  ngd-core-query-url: http://10.100.104.20:8303/api/v2/core/query
#  ngd bot token
  ngd-bot-token: NGD 218bbd82-2336-4561-8858-d3cca6e630ac
# convert solved :ngd存在solved=false，是否选择处理，true开启
  convert-solved: false
# webhook url
  webhook-url: http://10.100.104.30:8080/gddw/electric
######################################################################## NGD
######################################################################## ASR
#  asr engine
  asr-engine: unimrcp:asr
######################################################################## ASR
######################################################################## TTS
#  tts engine
  tts-engine: unimrcp:tts
#  Voice-Name
  tts-voice: yifei
# TTS 语速 格式：	[s*]	(*=0~10) ,默认语速值为5
  xtts-s: s4
######################################################################## TTS

######################################################################## LOG
# log path
logback:
  path: /home/app/chryl/logs/xcc
######################################################################## LOG
####################################################################################################
############################################# ChrylConfigProperty 相关变量配置 ######################
####################################################################################################